body,
		html {
			/* padding-top: 1px; */
			margin: 0;
			height: 100%;
			width: 100%;
			overflow-y: scroll;
			background-color: #EAEAEA;
		}
		
		.mycar {
			width: 100%;
			height:6.4rem;
			background-image: url(../img/park_bg.png);
			background-size: 100% 100%;
			position: relative;
		
			
			}
			.mycarnumber {
				width: 8.8rem;
				height: 6.4rem;
				background-color: #FFFFFF;
				border-radius: 10px;
				position: absolute;
				top:3.2rem;
				left: 0.6rem;
			}
			.table {
				width: 8.8rem;
				height: 1.173333rem;
				background: #ffffff;
				border-top-left-radius:10px;
				border-top-right-radius:10px;
				border-bottom: #e2e2e2 2px solid;
				/* color: #FFFFFF; */
				font-size: 0.426666rem;
				text-align: center;
			}
			
			.public {
				display: block;
				float: left;
				width: 4.4rem;
				line-height: 1.173333rem;
			}
			.gasolinecar {
				background-image:url(../img/select.png) ;
				background-size: 1.6rem 0.02rem;
				background-repeat: no-repeat;
				background-position: 50% 1.13rem;
				color: #3D89E4;
			}